
05-Coleta-de-Dados/Videoaula-Web-Scraping-Linkedin-com-Selenium/debug.log
05-Coleta-de-Dados/Videoaula-Web-Scraping-Linkedin-com-Selenium/descricao_vagas_linkedin.txt
05-Coleta-de-Dados/Calculadora-de-Aluguel-Coleta-de-Dados/.ipynb_checkpoints/Calculadora-de-Aluguel-Coleta-de-Dados-checkpoint.ipynb
05-Coleta-de-Dados/Exercício-com-API/.ipynb_checkpoints/api_bc_ipca-checkpoint.ipynb
